@import url("https://fonts.googleapis.com/css?family=Anton");

.newPlanPage-title {
  font-family: "Anton", sans-serif;
  font-size: 42px;
  color: #4E0D3A;
}

.newPlan-container {
  width: 50%;
}

.trainingPlan-col {
  border: 5px solid;
  border-radius: 20px;
  border-color: #4E0D3A;
}

.trainingPlan-row {
  border: 3px solid;
  border-radius: 10px;
  border-color: #4E0D3A;
  box-shadow: 1px 1px 5px #5d1049;
  align-items: center;
  color: #5d1049;
  padding: 20px 20px 20px 20px;
}

.addExerciseButton {
  width: 200px;
  background-color: #4e0d3a;
  border-color: #4e0d3a;
}

.addWorkoutButton {
  width: 200px;
  background-color: #4E0D3A;
  border-color: #4E0D3A;
}

.addPlanButton {
  width: 200px;
  background-color: #4E0D3A;
  border-color: #4E0D3A;
}

.addPlanButton:hover {
  background-color: #5d1049;
  border-color: #5d1049;
}

.addWorkoutButton:hover {
  background-color: #5d1049;
  border-color: #5d1049;
}

.addExerciseButton:hover {
  background-color: #5d1049;
  border-color: #5d1049;
}

.addPlanButton:not(:disabled):active {
  background-color: #4e0d3a;
  border-color: #4e0d3a;
}

.addWorkoutButton:not(:disabled):active {
  background-color: #4e0d3a;
  border-color: #4e0d3a;
}

.addExerciseButton:not(:disabled):active {
  background-color: #4e0d3a;
  border-color: #4e0d3a;
}

.workoutNameForm {
  width: 60%;
}

.trainingPlan-form:focus {
  border-color: #5d1049;
  box-shadow: 1px 1px 3px #5d1049;
}

.exerciseNameForm:focus {
  border-color: #5d1049;
  box-shadow: 1px 1px 3px #5d1049;
}

.workoutNameForm:focus {
  border-color: #5d1049;
  box-shadow: 1px 1px 3px #5d1049;
}

.exerciseSetsForm:focus {
  border-color: #5d1049;
  box-shadow: 1px 1px 3px #5d1049;
}

@media (max-width: 1200px) {
  .newPlan-container {
    width: 70%;
  }

  .workoutNameForm {
    width: 75%;
  }

  .trainingPlan-row {
    padding: 20px 10px 20px 10px;
  }

}

@media (max-width: 767px) {
  .newPlan-container {
    width: 100%;
  }

  .workoutNameForm {
    width: 90%;
  }

  .trainingPlan-row {
    padding: 20px 0px 20px 0px;
  }

  .trainingPlan-form {
    font-size: 18px;
  }

  .workoutNameForm {
    font-size: 18px;
  }

  .exerciseNameForm {
    font-size: 18px;
  }

  .exerciseSetsForm {
    font-size: 18px;
  }

  .addPlanButton {
    font-size: 18px;
  }

  .addWorkoutButton {
    font-size: 18px;
  }

  .addExerciseButton {
    font-size: 18px;
  }
}